[user]
	name = fisto
	email = yellow_piero@yahoo.co.jp
[core]
	excludesfile = /Users/Fisto/.gitignore
	quotepath = false
[alias]
	st = status
  df = diff
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	co = checkout
	br = branch
	ci = commit
[color]
  ui = true
  diff = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
